a {
  text-decoration: none;
}

.card_container {
  padding: 10px 20px;
  font-size: 18px;
}

.userlogo_contaner {
}

.userlogo_contaner img {
  width: 100%;
}

.info_container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.info_container img {
  width: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.card_reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card_reaction img {
  width: 15px;
  margin-left: 10px;
}

.arrow_back {
  width: 100%;
  display: flex;
  align-items: center;
}

.arrow_back:hover {
  opacity: 0.6;
  cursor: pointer;
}

.arrow_back img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.card_reaction__button {
  height: 45px;
  width: 100%;
  font-size: 22px;

  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.leave_button {
  background-color: rgb(221, 60, 60);
}

.confirm_button {
  background-color: #2ecc71;
}

.arrow_back__img {
  transform: rotate(90deg);
}

.confirm_button__icon {
  transform: translate(10px, 2px);
}
